In [29]:
import pandas as pd
from pandas import DataFrame
data = pd.read_csv('./pandas101/titanic.csv')

In [56]:
data.head(2).T

,0,1
SURVIVED,0,1
PCLASS,3,1
NAME,Mr. Owen Harris Braund,Mrs. John Bradley (Florence Briggs Thayer) Cum...
SEX,male,female
AGE,22,38
SIBLINGS,1,1
PARENTS,0,0
FARE,7.25,71.2833

In [18]:
print(data.shape)
print(data.size)
print(data.columns)
print(data.info())

(887, 8)
7096
Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
Survived                   887 non-null category
Pclass                     887 non-null category
Name                       887 non-null object
Sex                        887 non-null category
Age                        887 non-null float64
Siblings/Spouses Aboard    887 non-null category
Parents/Children Aboard    887 non-null category
Fare                       887 non-null float64
dtypes: category(5), float64(2), object(1)
memory usage: 22.5+ KB
None

In [30]:
data['Survived'] = pd.Categorical(data['Survived'])
data['Pclass'] = pd.Categorical(data['Pclass'])
data['Sex'] = pd.Categorical(data['Sex'])
data['Siblings/Spouses Aboard'] = pd.Categorical(data['Siblings/Spouses Aboard'])
data['Parents/Children Aboard'] = pd.Categorical(data['Parents/Children Aboard'])

In [31]:
print(data.describe())
print(data.columns)

              Age       Fare
count  887.000000  887.00000
mean    29.471443   32.30542
std     14.121908   49.78204
min      0.420000    0.00000
25%     20.250000    7.92500
50%     28.000000   14.45420
75%     38.000000   31.13750
max     80.000000  512.32920
Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')

In [32]:
data.rename(columns = {'Siblings/Spouses Aboard':'Siblings',
                       'Parents/Children Aboard':'Parents'}, inplace=True)
data.columns = [col.upper() for col in data.columns]
print(data.columns)

Index(['SURVIVED', 'PCLASS', 'NAME', 'SEX', 'AGE', 'SIBLINGS', 'PARENTS',
       'FARE'],
      dtype='object')

In [33]:
data2:DataFrame = pd.concat([data, data], ignore_index=True)
data2.shape

(1774, 8)

In [37]:
data2.drop_duplicates(inplace=True)
print(data2.shape)

(887, 8)

In [83]:
data3 = data2[['SURVIVED']]
data4 = data2[data2['SURVIVED'] == 1]
print(data3.shape)
print(data3.columns)
print(data4)

(887, 1)
Index(['SURVIVED'], dtype='object')
    SURVIVED PCLASS                                               NAME  \
1          1      1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2          1      3                              Miss. Laina Heikkinen
3          1      1        Mrs. Jacques Heath (Lily May Peel) Futrelle
8          1      3   Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson
9          1      2                 Mrs. Nicholas (Adele Achem) Nasser
..       ...    ...                                                ...
871        1      3                           Miss. Adele Kiamie Najib
875        1      1       Mrs. Thomas Jr (Lily Alexenia Wilson) Potter
876        1      2        Mrs. William (Imanita Parrish Hall) Shelley
883        1      1                        Miss. Margaret Edith Graham
885        1      1                               Mr. Karl Howell Behr

        SEX   AGE SIBLINGS PARENTS     FARE
1    female  38.0        1       0  71.2833
2    female  26.0        0       0   7.9250
3    female  35.0        1       0  53.1000
8    female  27.0        0       2  11.1333
9    female  14.0        1       0  30.0708
..      ...   ...      ...     ...      ...
871  female  15.0        0       0   7.2250
875  female  56.0        0       1  83.1583
876  female  25.0        0       1  26.0000
883  female  19.0        0       0  30.0000
885    male  26.0        0       0  30.0000

[342 rows x 8 columns]

In [73]:
s = data['AGE'].mode()
print(s)

data['AGE'].fillna(data['AGE'].mean(), inplace=True)

0    22.0
dtype: float64

In [90]:
age = data[['AGE']].values
print(type(age))

older = data4[data4['AGE'] > 35]
print(older.shape)

older2 = data[(data['AGE'] > 35) & (data4['SURVIVED'] == 1)]
print(older2.shape)

<class 'numpy.ndarray'>
(97, 8)
(97, 8)

In [97]:
print(data.groupby('SEX')['AGE'].sum())
print(data.groupby('SURVIVED')['SEX'].value_counts())

SEX
female     8704.00
male      17437.17
Name: AGE, dtype: float64
SURVIVED  SEX
0         male      464
          female     81
1         female    233
          male      109
Name: SEX, dtype: int64

In [101]:
data['DEAD'] = data['SURVIVED'].apply(lambda x: 'dead' if x== 0 else 'alive')
print(data['DEAD'])

0       dead
1      alive
2      alive
3      alive
4       dead
       ...
882     dead
883    alive
884     dead
885    alive
886     dead
Name: DEAD, Length: 887, dtype: category
Categories (2, object): [dead, alive]