In [1]:
#make the necessary imports and load the data and answer the following Questions

import pandas as pd
import numpy as np
from pandas import DataFrame
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

## Regression using Linear Regression Classifier
This question requires you to predict median_house_value (i.e. your target variable) using the features available to you in housing.csv

In [2]:
#Load 'housing.csv'

housing = pd.read_csv('housing.csv')
housing.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

### Data Exploration & Wrangling (5 questions * 4 points)
1.	What is the structure of your dataset? (shape)
2.	What is/are the main feature(s) in your dataset? (column names)
3.	List the features as Categorical or Continuous. (head/tail)
4.	Describe the statistical features (viz. mean, median, standard deviation) of these features?
5.	Are their missing values in your dataset?

In [3]:
#1 shape
housing.shape

(20640, 10)

In [4]:
#2 features
housing.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [5]:
#3 categorical vs continuous
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.5+ MB

In [6]:
#4 statistical info
housing.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [7]:
#5 missing values
housing.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

### Data Preparation (4 questions * 5 points)

1. Use one of the 3 methods taught in class for handling Missing Values

2. Drop the categorical column ['ocean_proximity']. Also drop remove latitude and longitude from the predictors list

3. Report the dimensions and type after separating the dataset to predictors(X) and target(y). 

4. Perform train-test split. Set test_size to 0.1 and random_state to 42 and report the dimensions of X_train and y_train

In [8]:
#1 handling missing values; dropping the missing records
housing_clean = housing.dropna(inplace=False)

In [9]:
#2 getting feature-set & target datasets
X = housing_clean.drop(columns=['ocean_proximity', 'longitude', 'latitude', 'median_house_value'])
y = housing_clean[['median_house_value']]

In [10]:
#3 dimensions of X & y
print('Shape of feature-set:', X.shape)
print('Shape of target:', y.shape)

Shape of feature-set: (20433, 6)
Shape of target: (20433, 1)

In [11]:
#4 train/test data split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

print('Shape of X_test:', X_test.shape)
print('Shape of y_test:', y_test.shape)

Shape of X_test: (2044, 6)
Shape of y_test: (2044, 1)

### Modeling (2 questions * 10 points)
1.	Devise one model for this problem : A Linear Regression Classifier - take 'median_house_value' as your target variable' and the rest as predictors

2.	Report MSE for the classifier.

- define a function to calculate MAPE - Mean Absolute Percentage Error

In [12]:
def mape(actual: DataFrame, predicted: DataFrame) -> float:
    mask = actual != 0
    return (np.fabs(actual - predicted) / actual)[mask].mean() * 100

In [13]:
#1 build LR model
model = LinearRegression()
model = model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [14]:
#2 MSE & MAPE for the model
print('MSE: %.2f' %mean_squared_error(y_test, y_pred))
print('MAPE: %.2f' %mape(y_test, y_pred), '%')

MSE: 5730812370.90
MAPE: 34.35 %