In [18]:
# Let's make sure we are using Python 3
import sys
print(sys.version[0])

3

#### Install and import

conda install pandas

OR

pip install pandas

Alternatively, if you're currently viewing this article in a Jupyter notebook you can run this cell:

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\java\python\projects2\venv\lib\site-packages (0.25.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\java\python\projects2\venv\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\java\python\projects2\venv\lib\site-packages (from pandas) (2019.2)
Requirement already satisfied: numpy>=1.13.3 in c:\java\python\projects2\venv\lib\site-packages (from pandas) (1.15.4)
Requirement already satisfied: six>=1.5 in c:\java\python\projects2\venv\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [19]:
import pandas as pd
import seaborn as sns
pd.set_option('display.max_columns', 100)

#### Reading a CSV file

In [11]:
?pd.read_csv

Signature:
pd.read_csv(
    filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]],
    sep=',',
    delimiter=None,
    header='infer',
    names=None,
    index_col=None,
    usecols=None,
    squeeze=False,
    prefix=None,
    mangle_dupe_cols=True,
    dtype=None,
    engine=None,
    converters=None,
    true_values=None,
    false_values=None,
    skipinitialspace=False,
    skiprows=None,
    skipfooter=0,
    nrows=None,
    na_values=None,
    keep_default_na=True,
    na_filter=True,
    verbose=False,
    skip_blank_lines=True,
    parse_dates=False,
    infer_datetime_format=False,
    keep_date_col=False,
    date_parser=None,
    dayfirst=False,
    cache_dates=True,
    iterator=False,
    chunksize=None,
    compression='infer',
    thousands=None,
    decimal=b'.',
    lineterminator=None,
    quotechar='"',
    quoting=0,
    doublequote=True,
    escapechar=None,
    comment=None,
    encoding=None,
    dialect=None,
    error_bad_lines=True,
    warn_bad_lines=True,
    delim_whitespace=False,
    low_memory=True,
    memory_map=False,
    float_precision=None,
)
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Delimiter to use. If sep is None, the C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator by Python's builtin sniffer
    tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
    different from ``'\s+'`` will be interpreted as regular expressions and
    will also force the use of the Python parsing engine. Note that regex
    delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, default ``None``
    Alias for sep.
header : int, list of int, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Default behavior is to infer the column names: if no names
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a multi-index on the columns
    e.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : array-like, optional
    List of column names to use. If file contains no header row, then you
    should explicitly pass ``header=None``. Duplicates in this list are not
    allowed.
index_col : int, str, sequence of int / str, or False, default ``None``
  Column(s) to use as the row labels of the ``DataFrame``, either given as
  string name or column index. If a sequence of int / str is given, a
  MultiIndex is used.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g. when you have a malformed file with delimiters at
  the end of each line.
usecols : list-like or callable, optional
    Return a subset of the columns. If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in `names` or
    inferred from the document header row(s). For example, a valid list-like
    `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a DataFrame from ``data`` with element order preserved use
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
    in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to True. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
squeeze : bool, default False
    If the parsed data only contains one column then return a Series.
prefix : str, optional
    Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
mangle_dupe_cols : bool, default True
    Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
    'X'...'X'. Passing in False will cause data to be overwritten if there
    are duplicate names in the columns.
dtype : Type name or dict of column -> type, optional
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
    'c': 'Int64'}
    Use `str` or `object` together with suitable `na_values` settings
    to preserve and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
engine : {'c', 'python'}, optional
    Parser engine to use. The C engine is faster while the python engine is
    currently more feature-complete.
converters : dict, optional
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels.
true_values : list, optional
    Values to consider as True.
false_values : list, optional
    Values to consider as False.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : list-like, int or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning True if the row should be skipped and False otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c').
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : scalar, str, list-like, or dict, optional
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
    'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether `na_values` is passed in, the behavior is as follows:

    * If `keep_default_na` is True, and `na_values` are specified, `na_values`
      is appended to the default NaN values used for parsing.
    * If `keep_default_na` is True, and `na_values` are not specified, only
      the default NaN values are used for parsing.
    * If `keep_default_na` is False, and `na_values` are specified, only
      the NaN values specified `na_values` are used for parsing.
    * If `keep_default_na` is False, and `na_values` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the `keep_default_na` and
    `na_values` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If True, skip over blank lines rather than interpreting as NaN values.
parse_dates : bool or list of int or names or list of lists or dict, default False
    The behavior is as follows:

    * boolean. If True -> try parsing the index.
    * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index cannot be represented as an array of datetimes,
    say because of an unparseable value or a mixture of timezones, the column
    or index will be returned unaltered as an object data type. For
    non-standard datetime parsing, use ``pd.to_datetime`` after
    ``pd.read_csv``. To parse an index or column with a mixture of timezones,
    specify ``date_parser`` to be a partially-applied
    :func:`pandas.to_datetime` with ``utc=True``. See
    :ref:`io.csv.mixed_timezones` for more.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If True and `parse_dates` is enabled, pandas will attempt to infer the
    format of the datetime strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.
keep_date_col : bool, default False
    If True and `parse_dates` specifies combining multiple columns then
    keep the original columns.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : boolean, default True
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

    .. versionadded:: 0.25.0
iterator : bool, default False
    Return TextFileReader object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Return TextFileReader object for iteration.
    See the `IO Tools docs
    <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.
compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and
    `filepath_or_buffer` is path-like, then detect compression from the
    following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
    decompression). If using 'zip', the ZIP file must contain only one data
    file to be read in. Set to None for no decompression.

    .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

thousands : str, optional
    Thousands separator.
decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European data).
lineterminator : str (length 1), optional
    Character to break file into lines. Only valid with C parser.
quotechar : str (length 1), optional
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default 0
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
doublequote : bool, default ``True``
   When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive quotechar elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    One-character string used to escape other characters.
comment : str, optional
    Indicates remainder of line should not be parsed. If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header` but not by
    `skiprows`. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
    treated as the header.
encoding : str, optional
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: `delimiter`, `doublequote`, `escapechar`,
    `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
    override values, a ParserWarning will be issued. See csv.Dialect
    documentation for more details.
error_bad_lines : bool, default True
    Lines with too many fields (e.g. a csv line with too many commas) will by
    default cause an exception to be raised, and no DataFrame will be returned.
    If False, then these "bad lines" will dropped from the DataFrame that is
    returned.
warn_bad_lines : bool, default True
    If error_bad_lines is False, and warn_bad_lines is True, a warning for each
    "bad line" will be output.
delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
    used as the sep. Equivalent to setting ``sep='\s+'``. If this option
    is set to True, nothing should be passed in for the ``delimiter``
    parameter.

    .. versionadded:: 0.18.1 support for the Python parser.

low_memory : bool, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set False, or specify the type with the `dtype` parameter.
    Note that the entire file is read into a single DataFrame regardless,
    use the `chunksize` or `iterator` parameter to return the data in chunks.
    (Only valid with C parser).
memory_map : bool, default False
    If a filepath is provided for `filepath_or_buffer`, map the file object
    directly onto memory and access the data directly from there. Using this
    option can improve performance because there is no longer any I/O overhead.
float_precision : str, optional
    Specifies which converter the C engine should use for floating-point
    values. The options are `None` for the ordinary converter,
    `high` for the high-precision converter, and `round_trip` for the
    round-trip converter.

Returns
-------
DataFrame or TextParser
    A comma-separated values (csv) file is returned as two-dimensional
    data structure with labeled axes.

See Also
--------
to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Examples
--------
>>> pd.read_csv('data.csv')  # doctest: +SKIP
File:      c:\java\python\projects2\venv\lib\site-packages\pandas\io\parsers.py
Type:      function

In [24]:
#reading JSON files
df_json = pd.read_json('titanic.json')
df_json.head(2)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833

In [13]:
#reading text files
df_text = pd.read_csv('titanic.txt')
df_text.head()

  Age\tFare\tName\tParents/Children Aboard\tPclass\tSex\tSiblings/Spouses Aboard\tSurvived
0  22.0\t7.25\tMr. Owen Harris Braund\t0\t3\tmale...
1  38.0\t71.2833\tMrs. John Bradley (Florence Bri...
2  4.0\t16.7\tMiss. Marguerite Rut Sandstrom\t1\t...
3  29.0\t7.8958\tMr. Pastcho Petroff\t0\t3\tmale\...
4  21.0\t77.2875\tMr. Richard Frasar White\t1\t1\...

In [14]:
?pd.read_csv

We are reading in the text file again because the default separater for read_csv function is ',' (a comma). However text files are usually separated by '\t' (tabs) and we have to explicitely mention that in the function signature.

In [3]:
df_text = pd.read_csv('titanic.txt',sep='\t')
df_text.head()

,Age,Fare,Name,Parents/Children Aboard,Pclass,Sex,Siblings/Spouses Aboard,Survived
0,22.0,7.2500,Mr. Owen Harris Braund,0,3,male,1,0
1,38.0,71.2833,Mrs. John Bradley (Florence Briggs Thayer) Cum...,0,1,female,1,1
2,4.0,16.7000,Miss. Marguerite Rut Sandstrom,1,3,female,1,1
3,29.0,7.8958,Mr. Pastcho Petroff,0,3,male,0,0
4,21.0,77.2875,Mr. Richard Frasar White,1,1,male,0,0

In [15]:
#Reading csv files
df = pd.read_csv('titanic.csv')

df.head(3).T

,0,1,2
Survived,0,1,1
Pclass,3,1,3
Name,Mr. Owen Harris Braund,Mrs. John Bradley (Florence Briggs Thayer) Cum...,Miss. Laina Heikkinen
Sex,male,female,female
Age,22,38,26
Siblings/Spouses Aboard,1,1,0
Parents/Children Aboard,0,0,0
Fare,7.25,71.2833,7.925

Checking number of rows/columns

In [20]:
df.shape

(887, 8)

In [13]:
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')
Hello

Viewing a sample of the data

In [156]:
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

Sometimes the number of features is too large and you want a transposed view, you can do the following.

In [157]:
df.tail(2).T

                                          885                 886
Survived                                    1                   0
Pclass                                      1                   3
Name                     Mr. Karl Howell Behr  Mr. Patrick Dooley
Sex                                      male                male
Age                                        26                  32
Siblings/Spouses Aboard                     0                   0
Parents/Children Aboard                     0                   0
Fare                                       30                7.75

In [158]:
#datatypes of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
Survived                   887 non-null int64
Pclass                     887 non-null int64
Name                       887 non-null object
Sex                        887 non-null object
Age                        887 non-null float64
Siblings/Spouses Aboard    887 non-null int64
Parents/Children Aboard    887 non-null int64
Fare                       887 non-null float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.5+ KB

In [159]:
#information about real valued features columns
df.describe()

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,887.000000,887.000000,887.000000,887.000000,887.000000,887.00000
mean,0.385569,2.305524,29.471443,0.525366,0.383315,32.30542
std,0.487004,0.836662,14.121908,1.104669,0.807466,49.78204
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.00000
25%,0.000000,2.000000,20.250000,0.000000,0.000000,7.92500
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.45420
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.13750
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.32920

Assigning datatypes

In [160]:
df['Survived'] = pd.Categorical(df['Survived'])
df['Pclass'] = pd.Categorical(df['Pclass'])
df['Sex'] = pd.Categorical(df['Sex'])
df['Siblings/Spouses Aboard'] = pd.Categorical(df['Siblings/Spouses Aboard'])
df['Parents/Children Aboard'] = pd.Categorical(df['Parents/Children Aboard'])

#df['Age'] = pd.to_numeric(df['Age'])

In [161]:
df.describe()

              Age       Fare
count  887.000000  887.00000
mean    29.471443   32.30542
std     14.121908   49.78204
min      0.420000    0.00000
25%     20.250000    7.92500
50%     28.000000   14.45420
75%     38.000000   31.13750
max     80.000000  512.32920

In [162]:
#datatypes of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
Survived                   887 non-null category
Pclass                     887 non-null category
Name                       887 non-null object
Sex                        887 non-null category
Age                        887 non-null float64
Siblings/Spouses Aboard    887 non-null category
Parents/Children Aboard    887 non-null category
Fare                       887 non-null float64
dtypes: category(5), float64(2), object(1)
memory usage: 26.2+ KB

#### Column Renaming

In [32]:
df.columns = [col.upper() for col in df]

In [33]:
df.columns

Index(['SURVIVED', 'PCLASS', 'NAME', 'SEX', 'AGE', 'SIBLINGS/SPOUSES ABOARD',
       'PARENTS/CHILDREN ABOARD', 'FARE'],
      dtype='object')

In [34]:
df.rename(columns = {'PCLASS':'TravelClass'}, inplace = True)

In [35]:
df.columns

Index(['SURVIVED', 'TravelClass', 'NAME', 'SEX', 'AGE',
       'SIBLINGS/SPOUSES ABOARD', 'PARENTS/CHILDREN ABOARD', 'FARE'],
      dtype='object')

#### Handling duplicates

In [36]:
#making a temporary variable to understand duplicates

temp = pd.concat([df,df],ignore_index=True)
temp.shape

(1774, 8)

In [168]:
?df.drop_duplicates

In [37]:
temp.drop_duplicates(inplace=True)

#temp1 = temp.drop_duplicates()

temp.shape

(887, 8)

#### Handling missing values

In [39]:
df['SURVIVED'].isna().sum()

0

In [170]:
df.isna().sum()

SURVIVED                   0
TravelClass                0
NAME                       0
SEX                        0
AGE                        0
SIBLINGS/SPOUSES ABOARD    0
PARENTS/CHILDREN ABOARD    0
FARE                       0
dtype: int64

1. Dropping Missing Values

In [40]:
df.dropna(inplace=True)

2. Imputation

In [41]:
#categorical / replacing with mode
df['SURVIVED'].fillna(df['SURVIVED'].mode()[0],inplace=True)

In [42]:
#continuous / replacing with mean
df['AGE'].fillna(df['AGE'].mean(),inplace=True)

#### Slicing and Dicing

In [180]:
#selecting a single column
age_np = df[['AGE']].values
print(type(age_np))


age_df = df[['AGE']]
print(type(age_df))

<class 'numpy.ndarray'>
<class 'pandas.core.frame.DataFrame'>

In [183]:
#selecting multiple columns
all_categorical_variables = df[['AGE','SURVIVED','TravelClass']]
all_categorical_variables.head()

    AGE SURVIVED TravelClass
0  22.0        0           3
1  38.0        1           1
2  26.0        1           3
3  35.0        1           1
4  35.0        0           3

In [195]:
#selecting a subset of the dataframe, dataframe.loc returns the index of the observations which satisfy the condition and fetches the entire row 

#observations with age = 30, male, whose fare was > 10
df_age30 = df.loc[(df['AGE']==30) & (df['SEX']=='male') & (df['FARE']>=10)]
print(df_age30.shape)
df_age30.head(5)

(9, 8)

,SURVIVED,TravelClass,NAME,SEX,AGE,SIBLINGS/SPOUSES ABOARD,PARENTS/CHILDREN ABOARD,FARE
177,0,2,Mr. Reginald Hale,male,30.0,0,0,13.0000
212,0,2,Mr. Hans Kristensen Givard,male,30.0,0,0,13.0000
218,0,2,Mr. Walter Harris,male,30.0,0,0,10.5000
252,0,3,Mr. William Arthur Lobb,male,30.0,1,0,16.1000
293,0,1,Mr. Ervin G Lewy,male,30.0,0,0,27.7208

#### Aggregating and Grouping

In [216]:
df.groupby('TravelClass')['FARE'].sum()

TravelClass
1    18177.4125
2     3801.8417
3     6675.6535
Name: FARE, dtype: float64

In [227]:
siblings = df['SIBLINGS/SPOUSES ABOARD'].value_counts()
siblings

0    604
1    209
2     28
4     18
3     16
8      7
5      5
Name: SIBLINGS/SPOUSES ABOARD, dtype: int64

In [45]:
df['DEAD/ALIVE'] = df['SURVIVED'].apply(lambda x: 'dead' if x==0 else 'alive')

In [44]:
df['DEAD/ALIVE'].value_counts()

alive    545
dead     342
Name: DEAD/ALIVE, dtype: int64

CheatSheet: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf